body
{
    height: 100vh;
    width: 100wh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 0px;
}

button
{
    background-color: black;
    color: #ACE1AF;
    padding: 12px;
    border-radius: 3px;
}

.grid-container
{
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px;
}

.new-container
{
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.grid-item
{
    width: 31.25px;
    height: 31.25px;
}
